# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
!.vcxproj
.vs/Game_Engine/v16/
.vs/VertX_GameEngine/v16/
Editor/x64/
Engine/x64/
x64/Debug/
*.exe
*.out
*.app
*.ipch
*.opendb
*.db-shm
*.db-wal
*.db
*.db
.vs/VertX_GameEngine/v16/.suo
*.tlog
*.pdb
*.idb
*.tlog
*.tlog
Engine/x64/Debug/Engine.tlog/Lib-link.write.1.tlog
Engine/x64/Debug/Engine.tlog/Lib-link.read.1.tlog
*.tlog
*.tlog
*.idb
*.pdb
*.idb
*.tlog
*.log
*.ilk
*.db
*.db
.vs/VertX_GameEngine/v16/.suo
*.idb
.vs/VertX_GameEngine/v16/.suo
*.db
*.ilk
*.log
*.tlog
*.tlog
*.pdb
*.tlog
*.tlog
*.pdb
